*
{
	margin: :0px;
	padding: 0px;
}
h3 {
	color:black;

}
.rectangulo:{
	width: 10px;
	height: 5px;
	border:3px solid black;
}
div {
	position: absolute;
}
p {
	position: absolute;
	 left:40%;
	 bottom: 1%;
	 color:white;
}
.foto1 {
	 bottom:60%;
}
.foto2 {
	left:20%;
	bottom:60%;

}
.foto3 {
	left:39%;
	bottom:60%;
}
.foto4 {
left:1%;

bottom:25%;
}
.foto5 { 
left:20%;
bottom:25%;
}
.foto6{
	left:39%;
	bottom:25%;

}